<!DOCTYPE html>
<html>
<head>
  <title>TechDemo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application' %>
  <%= yield :header %>
</head>
<body>

<%= yield %>

  <div id="footer">
    <%= javascript_include_tag 'application' %>
    <%= yield :footer %>
  </div>
</body>
</html>
